body{
    margin:0;
    padding:0
}
.dialog-container{
    
    background-color:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}
.img-container{
    display:flex;
    justify-content:center;
    align-items:center;
}